<!DOCTYPE html>
<html>

  <head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type=text/javascript>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>


<script>
    $(function(){
     $.getJSON("/_admin", // Your AJAX route here
      function(data) {
        var all = [];
        var result=""
        $.each(data.result, function(k, v) {
            if(!all.includes(k)){
              all.push(k)
              result += k + " , " + v +"<br>";
            }
            console.log(result)
        });
  document.getElementById("result").innerHTML = result;
      }
     );
     setTimeout(arguments.callee, 1000);
    })();
</script>


    <meta charset="utf-8">
    <title>Scoreboard</title>

  </head>

  <body>

<div style="margin:5px 10px 15px 20px"><p ></p>{{ username }}</div>
    <div><p>&nbsp;</p></div>
    <div  style="text-align:center">
      <b><font size="8">The score is </font> <font size="8"> None</font></b>
    </div>


    <div style="margin:5px 10px 15px 20px"  >
  <font size="6"><p id="result"> </p></font>
</div>



    <div style="margin:20px 10px 15px 20px">
        <form method="POST" action="reset">
            <font size="5">reset &nbsp; &nbsp;</font>
            <input type="submit" name="reset" value="Reset"/>
          </form>
    </div>






  </body>
</html>